.projects_sec {

    .tab-item  {
        background: #f5f5f5;
        padding: 24px 15px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: 0.3s;
        font-weight: bold;
        font-size: 22px;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            background: #ddd;
        }

        &.active {
            background: var(--primary);
            color: #fff;
        }
    }

    .img-thumbnail {
        height: 355px;
        object-fit: cover;
        width: 100%;
        border: none;
        padding: 0  ;
    }

    .txt_box {
        .p {
            color: #888;
        }
        ul li {
            font-size: 18px;
            display: block;
            margin-bottom: 7px;
            font-weight: 500;
            color: #333;
        }
    }


}