.footer {
    background: linear-gradient(165deg, #222 0%, #181818 45%, #121212 100%);

    .content {
        margin-bottom: 35px;
        .logo {
            width: 200px;
            object-fit: contain;
        }

        .socialLinks a {
            width: 40px !important;
            height: 40px !important;
            border-radius: 5px !important;
            border-color: #888;
            color: #888 !important ;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease;
        }

        .links a {
            display: block;
            margin-bottom: 15px;
            color: #fff;

        }
    }

}